body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    height: 100vh;
}

.converter-container {
    width: 25%;
    padding: 20px;
    background-color: #E0E6ED;
    border-radius: 2em;
}

.converter-title {
    text-align: center;
    color: #333333;
    font-size: 2em;
    font-weight: bold;
}

.converter-main {
    padding: 24px;
}

.currency-label,
.currency-select,
.conversion-result {
    display: block;
}

.converter-input {
    color: #333; 
    padding: 0.6em 1em;
    width: 50%;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.currency-label {
    margin-bottom: 1em;
    width: 100%;
}

.currency-select {
    border-radius: 0.5em;
    padding: 0.3em;
}

.input-group,
.button-group,
.result-group {
    display: flex;
    justify-content: center;
}

.convert-button {
    font-weight: 500;
    color: #FFF;
    background-color: #007BFF;
    border-radius: 1em;
    padding: 0.6em 1em;
    margin: 1em 0;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.convert-button:hover {
    color: #000;
    background-color: #FFF;
    transition: 1.5s;
}

.conversion-result {
    font-size: 1.2em;
}
