body {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    height: 100vh;
}

.container {
    width: 25%;
    padding: 20px;
    background-color: #E0E6ED;
    border-radius: 2em;
}

.conversor__title {
    text-align: center;
    color: #333333;
    font-size: 2em;
    font-weight: bold;
}

main {
    display: block;
    padding: 24px;
}

#labelConvert,
.conversor__select,
#result {
    display: block;
}

#inputValue {
    color: #333; 
    padding: 0.6em 1em;
    width: 50%;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-bottom: 1em;
    justify-content: center;
}

#labelConvert {
    margin-bottom: 1em;
    width: 100%;
}

.conversor__select {
    border-radius: 0.5em;
    padding: 0.3em;
}

.classCenter {
    display: flex;
    justify-content: center;
}

#conversorButton {
    font-weight: 500;
    color: #FFF;
    background-color: #007BFF;
    border-radius: 1em;
    padding: 0.6em 1em;
    margin: 1em 0;
    width: 50%;
}

#conversorButton:hover {
    color: #000;
    background-color: #FFF;
    transition: 1.5s;
}

.conversor__result {
    font-size: 1.2em;
}
